.spacer {
  flex: 1 1 auto;
}
a {
  font-size: 14px;
}
.button1 {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding-top: 1;
  font-size: 11px;
  margin-top: 8px;
}
.button1:hover {
  cursor: pointer;
}
.serach-image {
  height: 25px;
  width: 28px;
  padding: 1px;
}
.serach-button {
  border-radius: 3px;
}
.search-combaine {
  padding-left: 80px;
}
.search-in {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.nodata {
  color: red;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
