<div>
  <mat-toolbar color="primary">
    <span><a mat-icon-button href="" routerLink="/Dash">E-commerce</a></span>
    <div class="search-combaine">
      <input
        #searchinput
        type="text"
        placeholder="SearchProducts"
        class="search-in"
      />
      <button (click)="submit(searchinput.value)" class="search-button">
        <img
          class="serach-image"
          src="https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-8.png"
        />
      </button>
    </div>
    <span class="spacer"></span>
    <div>
      <a mat-icon-button href="" routerLink="/Seller">seller</a>
      <a mat-icon-button href="" routerLink="/Cart">cart</a>
      <a mat-icon-button href="" routerLink="/orderlist">Orders</a>
    </div>
  </mat-toolbar>
</div>
<div *ngIf="nodatamsg">
  <h1 class="nodata">{{ searchnomsg }}</h1>
</div>
<router-outlet></router-outlet>
