<div class="hole">
  <div class="container col-md-6">
    <h1>Add new Product</h1>
    <h1>{{ succmsg }}</h1>
    <div *ngIf="success" class="alert alert-dark" role="alert">
      This is a dark alert—check it out!
    </div>
    <form [formGroup]="formvalidationservice.userforms" (ngSubmit)="getdata()">
      <div class="form-group">
        <label for="formGroupExampleInput">Product Price</label>
        <input
          [(ngModel)]="selpro.productprice"
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          formControlName="productnumber"
          required
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Product Name</label>
        <input
          [(ngModel)]="selpro.productname"
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          formControlName="productname"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Product Role</label>
        <input
          [(ngModel)]="selpro.productrole"
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          formControlName="productrole"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Product Colour</label>
        <input
          [(ngModel)]="selpro.productcolour"
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          formControlName="productcolour"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Product Description</label>
        <input
          [(ngModel)]="selpro.productdescription"
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          formControlName="productdescription"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Product ImageURL</label>
        <input
          [(ngModel)]="selpro.productimageurl"
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          formControlName="productimageurl"
        />
      </div>
      <div>
        <button
          type="submit"
          [disabled]="formvalidationservice.userforms.invalid"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</div>
