<div class="row product-deatils" *ngIf="product">
  <div *ngIf="success" class="alert alert-dark" role="alert">
    Product Added to Cart..
  </div>
  <h1>{{ messg }}</h1>
  <div class="col-sm-6">
    <img
      class="product-img"
      src="{{ product.productimageurl }}"
      alt="product-image"
    />
  </div>
  <div class="col-sm-6">
    <div class="details">
      <h1>{{ product.productname }}</h1>
      <h3>{{ product.productprice | currency : "INR" }}</h3>
      <h3>{{ product.productcolour }}</h3>
      <h6>{{ product.productrole }}</h6>
      <h6>{{ product.productdescription }}</h6>
      <button class="form-button" (click)="anotherroute(product.id)">
        Buynow
      </button>
      <button class="form-button" (click)="database()">Add to Cart</button>
      <div class="quantity">
        <button (click)="handlequan('plus')">+</button>
        <input class="quandisp" type="text" value="{{ productquan }}" />
        <button (click)="handlequan('min')">-</button>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-0 border" style="background-color: #f0f2f5">
      <div class="card-body p-4">
        <label class="form-label" for="addANote">+ Add a note</label>
        <div class="form-outline mb-4">
          <input
            type="text"
            id="addANote"
            class="form-control"
            placeholder="Type comment..."
            [(ngModel)]="commentmsg"
            [disabled]="isInputDisabled"
          />
          <button class="enter-button" (click)="changing()">Enter</button>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <p>{{ boxmsg }}</p>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <p>Nice Product to purchased Worthy for Penny !!..</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
                  alt="avatar"
                  width="25"
                  height="25"
                />
                <p class="small mb-0 ms-2">Martha</p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">Upvote?</p>
                <i
                  class="far fa-thumbs-up mx-2 fa-xs text-black"
                  style="margin-top: -0.16rem"
                ></i>
                <p class="small text-muted mb-0">3</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <p>Nice Product to purchased Worthy for Penny !!..</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                  alt="avatar"
                  width="25"
                  height="25"
                />
                <p class="small mb-0 ms-2">Johny</p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">Upvote?</p>
                <i
                  class="far fa-thumbs-up mx-2 fa-xs text-black"
                  style="margin-top: -0.16rem"
                ></i>
                <p class="small text-muted mb-0">4</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <p>Nice Product to purchased Worthy for Penny !!..</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                  alt="avatar"
                  width="25"
                  height="25"
                />
                <p class="small mb-0 ms-2">Mary Kate</p>
              </div>
              <div class="d-flex flex-row align-items-center text-primary">
                <p class="small mb-0">Upvoted</p>
                <i
                  class="fas fa-thumbs-up mx-2 fa-xs"
                  style="margin-top: -0.16rem"
                ></i>
                <p class="small mb-0">2</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <p>Nice Product to purchased Worthy for Penny !!..</p>

            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                  alt="avatar"
                  width="25"
                  height="25"
                />
                <p class="small mb-0 ms-2">Johny</p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">Upvote?</p>
                <i
                  class="far fa-thumbs-up ms-2 fa-xs text-black"
                  style="margin-top: -0.16rem"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
