.product-deatils {
  margin-top: 50px;
  margin-bottom: 80px;
}
.product-deatils .product-img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}
.form-button {
  height: 35px;
  border: 1px solid blueviolet;
  color: blueviolet;
  cursor: pointer;
}
.enter-button {
  border-radius: 5px;
}
.quandisp {
  width: 30px;
  border-radius: 5px;
  padding-left: 7px;
}
