<h3>{{ notimsg }}</h3>
<div *ngIf="success" class="alert alert-dark" role="alert">
  This is a dark alert—check it out!
</div>
<table mat-table [dataSource]="productlist" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>productprice</th>
    <td mat-cell *matCellDef="let element">{{ element.productprice }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>productname</th>
    <td mat-cell *matCellDef="let element">{{ element.productname }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>productrole</th>
    <td mat-cell *matCellDef="let element">{{ element.productrole }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>productcolour</th>
    <td mat-cell *matCellDef="let element">{{ element.productcolour }}</td>
  </ng-container>

  <ng-container matColumnDef="hello">
    <th mat-header-cell *matHeaderCellDef>productdescription</th>
    <td mat-cell *matCellDef="let element">
      {{ element.productdescription }}
    </td>
  </ng-container>

  <ng-container matColumnDef="hi">
    <th mat-header-cell *matHeaderCellDef>productimage</th>
    <td mat-cell *matCellDef="let element">
      <img src="{{ element.productimageurl }}" />
    </td>
  </ng-container>

  <ng-container matColumnDef="ok">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="deleteproduct(element.id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
