<nav class="navbar navbar-dark bg-dark">
  <h3 style="color: white; font-family: Arial, Helvetica, sans-serif">
    E-Commerce
  </h3>
  <button class="button1" href="" (click)="method1()" style="margin-left: 2px">
    Register
  </button>
</nav>

<div *ngIf="success" class="alert alert-info" role="alert">
  Access Accepted You are Redirected through Home page (:-)
</div>
<div *ngIf="alert" class="alert alert-danger" role="alert">
  Access Declined Checkout Some Field Properly
</div>

<div class="container col-md-6">
  <h3 style="color: red">UserLogin</h3>
  <form [formGroup]="form" (ngSubmit)="getdata()">
    <div class="mb-3">
      <label for="exampleFormControlInput" class="form-label">UserName</label>
      <input
        type="text"
        [(ngModel)]="regi.username"
        class="form-control"
        formControlName="username"
        id="username"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput" class="form-label">Password</label>
      <input
        type="password"
        [(ngModel)]="regi.password"
        class="form-control"
        formControlName="password"
        id="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
