<div *ngIf="success" class="alert alert-dark" role="alert">
  Oreder History Updated !!
</div>
<table mat-table [dataSource]="check" class="mat-elevation-z8">
  <ng-container matColumnDef="hi">
    <th mat-header-cell *matHeaderCellDef>Orders</th>
    <td mat-cell *matCellDef="let element">
      <img
        class="order-image"
        src="https://cdn-icons-png.flaticon.com/512/3496/3496155.png"
      />
    </td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Oreder id</th>
    <td mat-cell *matCellDef="let element"><span>#</span>{{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="hello">
    <th mat-header-cell *matHeaderCellDef>Username</th>
    <td mat-cell *matCellDef="let element">
      {{ element.username }}
    </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Email Id</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Contact No</th>
    <td mat-cell *matCellDef="let element">{{ element.contact }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">{{ element.address }}</td>
  </ng-container>
  <ng-container matColumnDef="pk">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let element">
      {{ element.amount }}
    </td>
  </ng-container>
  <ng-container matColumnDef="ok">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="deleteproduct(element.id)">CancelOrder</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
