<div class="cartpage">
  <h1>Cartpage</h1>
  <div class="row">
    <div class="col-sm-8 details">
      <ul *ngFor="let carts of productlist">
        <li>
          <img src="{{ carts.productimageurl }}" alt="" />
        </li>
        <li>
          <span>{{ carts.productname }}</span>
        </li>
        <li>
          <span>{{ carts.productprice }}</span>
        </li>
        <li *ngIf="carts.productquantity">
          <span>{{ carts.productquantity }}</span>
        </li>
        <li *ngIf="!carts.productquantity">
          <span>1</span>
        </li>
        <li>
          <button (click)="delete(carts.id)">RemoveCart</button>
        </li>
      </ul>
    </div>
    <div class="col-sm-4 summary">
      <h3>Summary</h3>
      <ul>
        <li>
          <span>amount:</span><span>{{ pricesummary.price }}</span>
        </li>
        <li>
          <span>tax:</span><span>{{ pricesummary.tax }}</span>
        </li>
        <li>
          <span>delivery:</span><span>{{ pricesummary.delivery }}</span>
        </li>
        <li>
          <span>Discount:</span><span>{{ pricesummary.discount }}</span>
        </li>
        <li>
          <span>Total</span
          ><span
            ><h4>{{ pricesummary.total }}</h4></span
          >
        </li>
      </ul>
      <button
        class="checkout"
        (click)="checkout()"
        [disabled]="isButtonDisabled"
      >
        CheckOut
      </button>
    </div>
  </div>
</div>
