<div class="checkout">
  <div *ngIf="success" class="alert alert-dark" role="alert">
    Order Placed..
  </div>
  <h2>{{ notimsg }}</h2>
  <h1>CheckOut</h1>
  <div class="row">
    <div class="col-sm-7 firstdiv">
      <h3>Add Shipping Address</h3>
      <form [formGroup]="checkservice.checkforms">
        <input
          class="boom"
          [(ngModel)]="check.email"
          formControlName="email"
          placeholder="Email"
          required
        />
        <input
          class="boom"
          [(ngModel)]="check.address"
          formControlName="address"
          placeholder="Address"
          required
        />
        <input
          class="boom"
          [(ngModel)]="check.contact"
          formControlName="contact"
          placeholder="Contact"
          required
        />
        <button type="submit" class="order-button" (click)="ordernow()">
          Order Now
        </button>
      </form>
    </div>
    <div class="col-sm-5">
      <h4 style="font-weight: bold">
        Total Amount :
        <span
          ><h2>{{ totalprice }}</h2></span
        >
      </h4>
      <h3>Payment On Cash On Delivery</h3>
    </div>
  </div>
</div>
