<!-- <div class="container col-md-6">
  <h1>Update Profile</h1>
  <div *ngIf="success" class="alert alert-dark" role="alert">
    This is a dark alert—check it out!
  </div>
  <form [formGroup]="formvalidationservice.userforms" (ngSubmit)="getdata()">
    <div class="form-group">
      <label for="formGroupExampleInput">User Name</label>
      <input
        [(ngModel)]="userregimodel.username"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        formControlName="username"
        required
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Father Name</label>
      <input
        [(ngModel)]="userregimodel.fathername"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        formControlName="fathername"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Mother Name</label>
      <input
        [(ngModel)]="userregimodel.mothername"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        formControlName="mothername"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Product Colour</label>
      <input
        [(ngModel)]="selpro.productcolour"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Product Colour"
        formControlName="productcolour"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Product Description</label>
      <input
        [(ngModel)]="selpro.productdescription"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Product Description"
        formControlName="productdescription"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Product ImageURL</label>
      <input
        [(ngModel)]="selpro.productimageurl"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Product ImageURL"
        formControlName="productimageurl"
      />
    </div>
    <div>
      <button
        type="submit"
        [disabled]="formvalidationservice.userforms.invalid"
      >
        Add
      </button>
    </div>
  </form>
</div> -->

<mat-toolbar color="primary">
  <span><a mat-icon-button href="" routerLink="">E-commerce</a></span>
  <span class="spacer"></span>
  <div class="nav">
    <a mat-icon-button href="" routerLink="/Selleradd">Add</a>
    <a mat-icon-button href="" routerLink="/Sellerhome">List</a>
    <a mat-icon-button href="" (click)="logout()">Logout</a>
  </div>
</mat-toolbar>

<div class="user-profile">
  <div class="user-info">
    <span>Username :</span>
    <h2>{{ loginname }}</h2>
    <span>password :</span>
    <h2>{{ password }}</h2>
  </div>
  <div class="profile-actions">
    <button (click)="editProfile(this.loginname)">Edit Profile</button>
  </div>
</div>

<div class="form-container">
  <form (ngSubmit)="getdata(this.regi)">
    <div class="form-group">
      <label for="formGroupExampleInput">User name</label>
      <input
        [(ngModel)]="regi.username"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        required
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">User Id</label>
      <input
        [(ngModel)]="regi.userid"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        required
        name="userid"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Address</label>
      <input
        [(ngModel)]="regi.address"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        required
        name="address"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Password</label>
      <input
        [(ngModel)]="regi.password"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        required
        name="password"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Fathername</label>
      <input
        [(ngModel)]="regi.fathername"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        required
        name="fathername"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">MotherName</label>
      <input
        [(ngModel)]="regi.mothername"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        required
        name="mothername"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">id</label>
      <input
        [(ngModel)]="regi.id"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        required
        name="id"
      />
    </div>
    <div><button type="submit">Edit</button></div>
  </form>
</div>
