<div class="row search-item">
  <div class="col-sm-3 image-div">
    <img src="{{ product.productimageurl }}" />
  </div>
  <div class="col-sm-8 details">
    <h6><span>ProductPrice : </span>{{ product.productprice }}</h6>
    <h6><span>ProductColour : </span>{{ product.productcolour }}</h6>
    <h6><span>ProductDescription : </span>{{ product.productdescription }}</h6>
    <button (click)="searchbuy(product.id)">Buy</button>
  </div>
</div>
