<div class="product-list-wrapper">
  <h1>treandy products</h1>
  <div *ngIf="nodatamsg">
    <h1 class="nodata">{{ searchnomsg }}</h1>
  </div>
  <div *ngIf="success" class="alert alert-dark" role="alert">
    Product Added to Cart..
  </div>
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of productlist">
      <div class="product-item">
        <img src="{{ item.productimageurl }}" />
        <div class="product-details">
          <h6 class="heading">{{ item.productname }}</h6>
          <div class="product-price">
            <h6>{{ item.productcolour }}</h6>
          </div>
          <div class="product-colour">
            <h6>{{ item.productprice }}</h6>
          </div>
        </div>
        <div class="product-footer">
          <button (click)="godata(item.id)">Product Details</button>
          <button (click)="savedata(item.id)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
