.product-item img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.product-list-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
.product-details {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
.heading {
  font-size: 20px;
  font-weight: 600;
}
.product-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.nodata {
  color: red;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
