.spacer {
  flex: 1 1 auto;
}
a {
  font-size: 11px;
}
.button1 {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding-top: 1;
  font-size: 11px;
  margin-top: 8px;
}
.button1:hover {
  cursor: pointer;
}
.serach-image {
  height: 20px;
  width: 25px;
  padding: 3px;
}
.serach-button {
  border-radius: 3px;
}
.search-combaine {
  padding-left: 80px;
}
