<!-- <mat-toolbar color="primary">
  <span><a mat-icon-button href="" routerLink="">E-commerce</a></span>
  <div class="search-combaine">
    <input #searchinput type="text" placeholder="SearchProducts" />
    <button (click)="submit(searchinput.value)" class="search-button">
      <img
        class="serach-image"
        src="https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-8.png"
      />
    </button>
  </div>
  <span class="spacer"></span>
  <div *ngIf="menutype === 'default'">
    <a mat-icon-button href="" routerLink="/Seller">seller</a>
    <a mat-icon-button href="" routerLink="/Cart">cart</a>
    <a mat-icon-button href="" routerLink="/orderlist">List</a>
  </div>
  <div *ngIf="menutype === 'seller'">
    <a mat-icon-button href="" routerLink="/Selleradd">Add</a>
    <a mat-icon-button href="" routerLink="/Sellerhome">List</a>
    <a mat-icon-button (click)="logout()">{{ loginname | titlecase }}</a>
  </div>
</mat-toolbar> -->
