<form [formGroup]="formvalidationservice.userforms" (ngSubmit)="submitdata()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="container">
        <mat-form-field appearance="outline">
          <mat-label>Enter UserName</mat-label>
          <input
            [(ngModel)]="userregimodel.username"
            formControlName="username"
            matInput
            placeholder="UserName*"
            required
          />
          <mat-error>This Field is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter FatherName</mat-label>
          <input
            [(ngModel)]="userregimodel.fathername"
            formControlName="fathername"
            matInput
            placeholder="FatherName*"
            required
          />
          <mat-error>This Field is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ente MotherName</mat-label>
          <input
            [(ngModel)]="userregimodel.mothername"
            formControlName="mothername"
            matInput
            placeholder="MotherName*"
            required
          />
          <mat-error>This Field is required</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="container">
        <mat-form-field appearance="outline">
          <mat-label>Enter Password</mat-label>
          <input
            [(ngModel)]="userregimodel.password"
            formControlName="password"
            matInput
            placeholder="Password*"
            required
          />
          <mat-error>This Field is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter Address</mat-label>
          <input
            [(ngModel)]="userregimodel.address"
            formControlName="address"
            matInput
            placeholder="Address*"
            required
          />
          <mat-error>This Field is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter UserId</mat-label>
          <input
            [(ngModel)]="userregimodel.userid"
            formControlName="userid"
            matInput
            placeholder="UserId"
            required
          />
          <mat-error>This Field is required</mat-error>
        </mat-form-field>
        <div class="finalbutton">
          <button
            type="submit"
            (click)="Onclose()"
            mat-raised-button
            color="accent"
            [disabled]="formvalidationservice.userforms.invalid"
          >
            Submit
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
